@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * { 
 font-family: 'Noto Sans KR', sans-serif;
}
/*fade animation*/
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

@-webkit-keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@-webkit-keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

.fadeIn{
  animation: fadeIn;
  animation-duration: 0.8s;
}

.fadeOut{
  animation: fadeOut;
  animation-duration: 0.8s;
}


.customeWrap{
  display: block;
  position: relative;
  width: 1920px;
  height: 100vh;
}
#start-screen{
  width: 1920px;
  height: 1080px;
  background-image: url(../images/custome_background.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.start_content{
  position: absolute;
}
.content1, .content2, .content3, .content4{
  width: 1920px;
  top: -130px;
}
.content1{
  transition: 1.2s;
}
.content2{
  transition: 1.5s;
}
.content3{
  right: 0;
  transition: 0.6s;
}
.content4{
  left: 0;
  transition: 0.6s;
}
.content5{
  width: 400px;
  top: 30px;
  transition: 0.9s;
  animation: shake1 2s infinite alternate;
}
.content6{
  top: 132px;
  right: 243px;
  transition: 0.9s;
  animation: shake2 2s infinite alternate;
}
.content7{
  top: -1000px;
  transition: 1.5s;
}
@keyframes shake1 {
  0% {
    top: 30px;
  }
  100% {
    top: 50px;
  }
}
@keyframes shake2 {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate( -5deg );
  }
}
#slider_right{
  display: block;
  top: 0;
  position: absolute;
  height: 100vh;
  z-index: 55;
  right: -1300px;
  transition: all 1s ;
}
#slider_left{
  display: block;
  top: 0;
  position: absolute;
  height: 100vh;
  z-index: 55;
  left: -1300px;
  transition: all 1s ease;
}

.background{
  height: 100vh;
  width: 1920px;

}

#startBtn{
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  text-align: center;
  background: transparent;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.3em;
  color: rgba(223,190,106,0.7);
  border-radius: 0;
  padding: 18px 80px 20px;
  background: linear-gradient(45deg, rgba(223,190,106,15.8), rgba(146,111,52));
  color: #333;
  transition: 0.3s;
  background-position: 1% 50%;
  background-size: 300% 300%;
  text-decoration: none;
  border: none;
  border: 1px solid rgba(223,190,106,0.3);
}
#startBtn:hover{
  color: #fff;
  border: 1px solid rgba(223,190,106,0);
  color: white;
  background-position: 99% 50%;
}

#start-screen h2{
  font-size: 40px;
  margin-bottom: 20px;
  letter-spacing: 5px;
  font-weight: bold;
}
#start-screen p{
  margin-bottom: 30px;
}


#coffee-checkbox{
  display: flex;
  flex-wrap: wrap;
}

.coffee_content{
  position: relative;
  display: flex;
  width: 100%;
  height: 100vh;
  padding-top: 150px;
  
}
.result_content{
  padding: 100px 200px;
  height: 80vh;
  width: 900px;
  text-align: left;
  background-image: url(../images/result_background4-4.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.result_h2{
  font-size: 45px;
  margin-bottom: 20px;
}
.custome_qty{
  position: relative;
  display: block;
}
.coffeeNaming{
  position: relative;
  display: block;
  margin-top: 50px;
}
.personalCoffeeName{
  position: relative;
  display: block;
  width: 300px;
  margin-top: 30px;
  padding-bottom: 10px;
  border: none;
  background: none;
  border-bottom: 1px solid #644330;
  font-size: 23px;
}
input[type=text]{
  outline: none;
}
input[type=text]::placeholder{
  color: #00000034;
}
.custome_section{
  background-image: url(../images/custome_background.png);
  height: 100vh;
}
.custome_section .coffee_left ul{
  display: flex;
  width: 462px;
  height: 702px;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: scroll;
  
}
.coffee_left ::-webkit-scrollbar {
  width: 5px;  /* 세로축 스크롤바 폭 너비 */
  height: 20px;  /* 가로축 스크롤바 폭 너비 */
}
.coffee_left ::-webkit-scrollbar-thumb {
  background: #e89a3e; /* 스크롤바 막대 색상 */
  border-radius: 12px 12px 12px 12px;
}
.coffee_left ::-webkit-scrollbar-thumb:hover {
	background-color:#a0a0a5;
}

.custome_section .coffee_right{
  position: absolute;
  width: 600px;
  right: 0;
}
.coffee_svg{
  width: 200px;
  display: block;
  width: 300px;
  margin: 0 172px;
}
.wave{
  width: 500px;
  margin-top: 50px;
}
.base_h2{
  display: block;
  font-size: 38px;
  text-align: right;
}
.base_h2 + div{
  text-align: right;
  color: #7e7e7e;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.custome_section img{
  display: block;
  text-align: center;
  margin: 0 auto;
  width: 100px;
  margin-bottom: 20px;
}

.roasting-step{
  display: block;
  width: 500px;
  margin: 0 auto;
}
.roastingSlide{
  text-align: center;
  margin-bottom: 80px;
}
.buttonWrap{
  display: block;
  position: absolute;
  bottom: 80px;
  text-align: center;
  right: 0;
}
.custome_btn, .roasting_btn{
  position: relative;
  bottom: 0;
  padding: 10px 50px;
}
#blend-prev{
  float: left;
}
#blend-next{
  float: right;
}
#roasting-prev{
  float: left;
}
#roasting-next{
  float: right;
}
input[type="radio"] {
  display: none;
}
#select-coffee-explain{
  margin-top: 20px;
  display: block;
  height: 80px;
}
#select-coffee-explain > div:first-child{
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  margin: 0 auto;
  font-family: 'Noto Sans KR', sans-serif;
}
#select-coffee-explain > div:nth-child(2){
  font-size: 18px;
  text-align: center;
  margin: 0 auto;
  font-family: 'Noto Sans KR', sans-serif;
}

/*radio*/
/* .customeRadio label{
  display: inline-block;
  background-image: url("../images/coffee_list.png");
  background-size: cover;
  margin-left: 10px;
  margin-bottom: 10px;
  width: 139px;
  height: 226px;
  white-space: nowrap;
  user-select: none;
  transition: all .2s;
  cursor: pointer;
  opacity: 0.6;
} */

.baseName{
  display: inline-block;
  /* background-image: url("../images/coffee_list.png"); */
  background-size: cover;
  margin-left: 10px;
  margin-bottom: 10px;
  width: 139px;
  height: 226px;
  white-space: nowrap;
  user-select: none;
  transition: all .2s;
  cursor: pointer;
  opacity: 0.6;
}
#blendNULL{
  background-image: url("../images/custome_beans/coffee_list_0.png");
}
#base1, #blend1{
  background-image: url("../images/custome_beans/coffee_list_1.png");
}
#base2, #blend2{
  background-image: url("../images/custome_beans/coffee_list_2.png");
}
#base3, #blend3{
  background-image: url("../images/custome_beans/coffee_list_3.png");
}
#base4, #blend4{
  background-image: url("../images/custome_beans/coffee_list_4.png");
}
#base5, #blend5{
  background-image: url("../images/custome_beans/coffee_list_5.png");
}
#base6, #blend6{
  background-image: url("../images/custome_beans/coffee_list_6.png");
}
#base7, #blend7{
  background-image: url("../images/custome_beans/coffee_list_7.png");
}
#base8, #blend8{
  background-image: url("../images/custome_beans/coffee_list_8.png");
}
#base9, #blend9{
  background-image: url("../images/custome_beans/coffee_list_9.png");
}
#base10, #blend10{
  background-image: url("../images/custome_beans/coffee_list_10.png");
}
#base11, #blend11{
  background-image: url("../images/custome_beans/coffee_list_11.png");
}
#base12, #blend12{
  background-image: url("../images/custome_beans/coffee_list_12.png");
}
#base13, #blend13{
  background-image: url("../images/custome_beans/coffee_list_13.png");
}
#base14, #blend14{
  background-image: url("../images/custome_beans/coffee_list_14.png");
}

input[type="checkbox"] {
  display: none;
}

.customeRadio input[type="radio"]:checked + label::before {
  content: "\f00c";
  transform: rotate(-360deg);
  transition: transform .3s ease-in-out;
}
.blend_content{
  padding-top: 160px;
}
.blend_content .blend_top{
  display: flex;
}
.blend_top_left{
  width: 600px;
}
.blend_h2{
  font-size: 35px;

}
.blend_h2 + div{
  color: #686868;
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 17px;
  line-height: 24px;
}
.blend_h2 + div > span{
  font-weight: bold;
  color: #9c2525;
  font-size: 20px;
}
.blend_top_left .blend_svg{
  width: 200px;
  margin-left: 30px;
}
.blendSelect{
  background-image: url(../images/blend_selectWrap.png);
  width: 420px;
  height: 80px;
  font-size: 20px;
  font-family: notosanskr;
  letter-spacing: -2px;
  text-align: right;
  padding-top: 23px;
  padding-right: 42px;
}
.selectOption2{
  margin-left: 50px;
}
.selectOption3{
  margin-left: 100px;
}
.blend_top_right{
  width: 530px;
  padding-bottom: 50px;
  margin-right: 50px;
}
.blend_bottom{
  width: 1200px;
}
.customeRadio input[type="radio"]:checked + label {
  opacity: 1;
  color: #ffffff;
  transition: all .2s;
}

#blend-checkbox{
  display: flex;
}
.blend_bottom ul{
  display: flex;
  overflow-x: scroll;
}
.blend_bottom ::-webkit-scrollbar {
  height: 5px;  /* 가로축 스크롤바 폭 너비 */
}
.blend_bottom ::-webkit-scrollbar-thumb {
  background: #e89a3e; /* 스크롤바 막대 색상 */
  border-radius: 12px 12px 12px 12px;
}
.blend_bottom ::-webkit-scrollbar-thumb:hover {
	background-color:#a0a0a5;
}
/*checkbox*/
#blend-checkbox label{
  position: relative;
  display: block;
  margin-right: 5px;
  margin-bottom: 10px;
  /* background-image: url("../images/coffee_list.png"); */
  background-size: cover;
  width: 138px;
    height: 228px;
  white-space: nowrap;
  user-select: none;
  transition: all .2s;
  cursor: pointer;
}


#blend-checkbox input[type="checkbox"]:checked + label {
  filter: drop-shadow(rgb(255, 255, 255) 1px 5px 10px);
  margin-top: 15px;
  color: #ffffff;
  transition: all .2s;
}

#blend-checkbox input[type="checkbox"] {
display: absolute;
}
#blend-checkbox input[type="checkbox"] {
opacity: 0;
}
#blend-checkbox input[type="checkbox"]:focus + label {
border: 2px solid #f0dc41;
}
#blend-checkbox input[type=checkbox]:disabled + label{
  background-color: #ffffff81;
  opacity: 0.3;
  transition: 0.5s;
}
.roasting_content{
  padding-top: 250px;

}
.roasting_content{
  padding: 100px 200px;
  display: block;
  position: absolute;
  margin-top: 140px;
  margin-left: -90px;
  width: 1300px;
  height: 80vh;
  background-image: url(../images/custome_result.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.roasting_h2{
  font-size: 50px;
  text-align: center;
  margin-bottom: 10px;
}
.roasting_explanation{
  text-align: center;
  font-size: 18px;
  line-height: 24px;
}
.roasting_explanation span{
  color: #9c2525;
  font-size: 20px;
  font-weight: bold;
}
.roastingPost{
  margin-top: 20px;
  margin-bottom: 50px;
}
.roastingPost span{
  display: block;
  text-align: center;
}
.roasting_Num{
  display: block;
  position: relative;
  width: 330px;
  height: 174px;
  background: url(../images/raosting_stage.png);
  background-repeat: no-repeat;
  margin: 0 auto;
}
#roastingNum{
  display: block;
  position: absolute;
  font-size: 30px;
  top: 100px;
  font-size: 60px;
  font-weight: bold;
  margin: 0 auto;
  text-align: center;
  left: 50%;
  transform: translate(-50%, -50%);
}
#roastingName{
  margin-bottom: 5px;
  font-size: 30px;
}
.result_background3 > img{
  display: block;
  position: absolute;
  z-index: 2;
  width: 300px;
  height: 100vh;
  left: 2px;
  transition: 2.3s;
}
.result_background1{
  background-image: url(../images/result_background2.png);
  transform: scaleY(-1);
  background-repeat: no-repeat;
  width: 1920px;
  height: 150px;
}
.result_background2{
  display: block;
  position: absolute;
  background-image: url(../images/result_background2.png);
  background-repeat: no-repeat;
  bottom: 0;
  width: 1920px;
  height: 150px;
}
.result_background{
  display: block;
  height: 80vh;
  text-align: center;
}
#custome_result{
  display: grid;
  grid-template-columns: 115px 540px;
    -webkit-box-align: center;
    align-items: center;
    gap: 10px 24px;
}
#custome_result p{
  font-size: 20px;
  line-height: 25px;
  color: #626262;
}
#custome_result span{
  font-size: 20px;
}
.machine_content{
  padding: 100px 200px;
  display: block;
  position: absolute;
  margin-top: 140px;
  margin-left: -90px;
  width: 1300px;
  height: 80vh;
  background-image: url(../images/machine_background.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.result_buttonWrap{
  margin-top: 50px;
}
#result_deco1{
  position: absolute;
  right: 350px;
  bottom: 100px;
  width: 500px;
  filter: drop-shadow(0px 7px 29px rgba(100, 100, 111, 0.5)) ;
}
#result_deco2{
  position: absolute;
  width: 400px;
  bottom: -20px;
    right: 118px;
}
#result_deco3{
  position: absolute;
  left: 0;
  bottom: -20px;
  width: 400px;
  transform: scaleX(-1);
}
.machine_h2{
  font-size: 50px;
  text-align: center;
}
.machine_content{
}
.machineRadio label{
    display: inline-block;
    background-size: cover;
    margin-left: 10px;
    margin-bottom: 10px;
    width: 106px;
    height: 384px;
    white-space: nowrap;
    user-select: none;
    transition: all .2s;
    cursor: pointer;
    opacity: 0.6;
    filter: drop-shadow(0 0 0.3rem rgba(0, 0, 0, 0.218));
}
#nespressoOriginal__{
  background-image: url("../images/custome_machine/nespresso.png");
}
#nespressoVertuo__{
  background-image: url("../images/custome_machine/vertuo.png");
}
#dolceGusto__{
  background-image: url("../images/custome_machine/dolceGusto.png");
}
#illy__{
  background-image: url("../images/custome_machine/illy.png");
}
#kanu__{
  background-image: url("../images/custome_machine/kanu.png");
}
#keurig__{
  background-image: url("../images/custome_machine/keurig.png");
}
.machineRadio{
  text-align: center;
}
.machineRadio input[type="radio"]:checked + label::before {
  transform: rotate(-360deg);
  transition: transform .3s ease-in-out;
}
.machineRadio input[type="radio"]:checked + label {
  opacity: 1;
  color: #ffffff;
  transition: all .2s;
}
.machine_buttonWrap{
  display: block;
  bottom: 80px;
}
#machine-prev{
  float: left;
}
#machine-next{
  float: right;
}
canvas {
  z-index: 10;
  pointer-events: none;
  position: fixed;
  top: 0;
  transform: scale(1.1);
}
.moveTest {
  width: 50px;
  height: 50px;
  background-color: red;
  position: relative;
  animation-name: moveLeft;
  animation-duration: 2s;

}

@keyframes moveLeft {
  from {left: 0;}
  to {left: -200px;}
}


swiper-container {
  width: 100%;
  height: 100%;
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*progress*/

.custome-progress-wrap{
  display: block;
  position: relative;
  width: 400px;
  height: 40px;
  font-size: 14px;
    line-height: 30px;
  margin: 0 auto;
}
.progress-name{
  font-size: 15px;
font-family: "Quicksand", Arial, sans-serif;
margin-bottom: 10px;
font-weight: 500;
line-height: 1.1;
color: inherit;
}
.custome-progress-wrap .progress{
  height: 6px;
-webkit-box-shadow: none;
box-shadow: none;
background: #f2f3f7;
overflow: visible;
}
.custome-progress-wrap .progress {
  height: 8px;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: #f5f5f5;
  border-radius: 4px;
  box-shadow: none;
    background: #f2f3f7;
    overflow: visible;
}
.custome-progress-wrap .progress-bar.color-1{
  background: #663d17;
}
.custome-progress-wrap .progress-bar.color-2{
  background: #d66868;
}
.custome-progress-wrap .progress-bar.color-3{
  background: #ffb829;
}
.custome-progress-wrap .progress-bar.color-4{
  background: #69882c;
}
.custome-progress-wrap .progress-bar.color-5{
  background: #2c88c5;
}
.custome-progress-wrap .progress-bar{
box-shadow: none;
font-size: 12px;
line-height: 1.2;
color: #000;
font-weight: 600;
text-align: right;
position: relative;
overflow: visible;
border-radius: 8px;
}
.custome-progress-wrap .progress-bar {
  float: left;
  width: 0%;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #337ab7;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
  box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
  -webkit-transition: width .6s ease;
  -o-transition: width .6s ease;
  transition: width .6s ease;
}
.custome-progress-wrap .progress-bar.color-1::after{
  position: absolute;
  top: -2px;
  right: 0;
  width: 10px;
  height: 10px;
  content: '';
  background: #663d17;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.custome-progress-wrap .progress-bar.color-2::after{
  position: absolute;
top: -2px;
right: 0;
width: 10px;
height: 10px;
content: '';
background: #d66868;
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
-ms-border-radius: 50%;
border-radius: 50%;
}
.custome-progress-wrap .progress-bar.color-3::after{
  position: absolute;
top: -2px;
right: 0;
width: 10px;
height: 10px;
content: '';
background: #ffb829;
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
-ms-border-radius: 50%;
border-radius: 50%;
}
.custome-progress-wrap .progress-bar.color-4::after{
  position: absolute;
top: -2px;
right: 0;
width: 10px;
height: 10px;
content: '';
background: #69882c;
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
-ms-border-radius: 50%;
border-radius: 50%;
}
.custome-progress-wrap .progress-bar.color-5::after{
  position: absolute;
top: -2px;
right: 0;
width: 10px;
height: 10px;
content: '';
background: #337ab7;
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
-ms-border-radius: 50%;
border-radius: 50%;
}
.custome-progress-wrap .progress-bar span{
  position: absolute;
top: -22px;
right: 0;
}
button{
  cursor: pointer;
  margin-top: 5px;
  padding: 3px 0;
  border: none;
  border-radius: 20px;
  background-color: rgba(223, 190, 106);
  transition: 0.3s;
  opacity: 1;
}
button:hover{
  background-color: rgba(208, 171, 78, 0.7);;
}
#reset{
  padding: 10px 45px;
  border-radius: 20px;
  background-color: rgb(213 108 108);
  font-family: 'notosans';
  font-size: 13px;
  transition: 0.3s;
}
#reset:hover{
  background-color: rgb(203, 95, 95);
}