.customeWrap{
  display: block;
  position: relative;
  width: 1920px;
  height: 100vh;
}
.custome_main{
  background-image: url("../images/custome_background.png");
  background-repeat: no-repeat;
}
.custome_page{
  background-image: url("../images/custom_2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#startBtn{
  cursor: pointer;;
  display: inline-block;
  background: transparent;
  text-transform: uppercase;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  letter-spacing: 0.3em;
  color: rgba(223,190,106,0.7);
  border-radius: 0;
  padding: 18px 80px 20px;
  transition: all 0.5s ease-out;
  background: linear-gradient(45deg, rgba(223,190,106,15.8), rgba(146,111,52,0.8));
  color: #333;
  background-position: 1% 50%;
  background-size: 300% 300%;
  text-decoration: none;
  margin: 0.625rem;
  border: none;
  border: 1px solid rgba(223,190,106,0.3);
}
#startBtn:hover{
  color: #fff;
  border: 1px solid rgba(223,190,106,0);
  color: white;
  background-position: 99% 50%;
}
#start-screen {
  display: block;
  position: relative;
  padding-top: 200px;
  height: 80vh;
  text-align: right;
  flex-direction: column;
}
#start-screen h2{
  font-size: 40px;
  margin-bottom: 20px;
  letter-spacing: 5px;
  font-weight: bold;
}
#start-screen p{
  margin-bottom: 30px;
}


#coffee-checkbox{
  display: flex;
  flex-wrap: wrap;
}

.coffee_content{
  position: relative;
  display: flex;
  width: 100%;
  height: 80vh;
  padding-top: 150px;
}
.result_content{
  padding-top: 200px;
}
.custome_section .coffee_left ul{
  display: flex;
  width: 550px;
  height: 780px;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: scroll;
  
}
#custome_result > p{
  color: #fff;
}
#custome_result  span{
  color: #fff;
}
.coffee_left ::-webkit-scrollbar {
  width: 10px;  /* 세로축 스크롤바 폭 너비 */
  height: 20px;  /* 가로축 스크롤바 폭 너비 */
}
.coffee_left ::-webkit-scrollbar-thumb {
  background: #e89a3e; /* 스크롤바 막대 색상 */
  border: 2px solid #9b6a2f; /* 스크롤바 막대 테두리 설정  */
  border-radius: 12px 12px 12px 12px;
}
.coffee_left ::-webkit-scrollbar-thumb:hover {
	background-color:#a0a0a5;
}

.custome_section .coffee_right{
  padding-top: 250px;
  top: 250px;
  width: 350px;
  margin: 0 auto;
}
.custome_section h2{
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: bold;
  color: #fff;
}
.custome_section img{
  display: block;
  text-align: center;
  margin: 0 auto;
  width: 100px;
  margin-bottom: 20px;
}

.roasting-step{
  display: block;
  width: 500px;
  margin: 0 auto;
}
.buttonWrap{
  display: block;
  position: absolute;
  bottom: 80px;
  text-align: center;
  left: 50%;
  transform: translate(-50%, -50%);
}
.custome_btn{
  position: relative;
  bottom: 0;
  padding: 10px 50px;
}


input[type="radio"] {
  display: none;
}
#select-coffee-explain{
  
  display: block;
  height: 80px;
}
#select-coffee-explain > div:first-child{
  color: #fff;
  font-size: 25px;
  font-weight: bold;
}
#select-coffee-explain > div:nth-child(2){
  color: #fff;
  font-size: 18px;
}

/*radio*/
.customeRadio label{
  display: inline-block;
  background-image: url("../images/coffee_list_08.png");
  width: 175px;
  height: 236px;
  border-radius: 25px;
  white-space: nowrap;
  user-select: none;
  transition: all .2s;
  cursor: pointer;
}

input[type="checkbox"] {
  display: none;
}

.customeRadio input[type="radio"]:checked + label::before {
  content: "\f00c";
  transform: rotate(-360deg);
  transition: transform .3s ease-in-out;
}
.blend_content{
  padding-top: 160px;
}
.blend_content .blend_top{
  display: flex;
}
.blend_top_left{
  width: 600px;
}
.blend_top_left .blend_svg{
  width: 200px;
  margin-left: 30px;
}
.blend_top_right{
  width: 530px;
  padding-bottom: 40px;
  margin-right: 20px;
}
.blend_bottom{
  width: 1200px;
}
.customeRadio input[type="radio"]:checked + label {
  border: 2px solid #bccc74;
  background-color: #6f853a;
  color: #ffffff;
  transition: all .2s;
}

#blend-checkbox{
  display: flex;
}
.blend_bottom ul{
  display: flex;
  overflow-x: scroll;
}
.blend_bottom ::-webkit-scrollbar {
  height: 5px;  /* 가로축 스크롤바 폭 너비 */
}
.blend_bottom ::-webkit-scrollbar-thumb {
  background: #e89a3e; /* 스크롤바 막대 색상 */
  border-radius: 12px 12px 12px 12px;
}
.blend_bottom ::-webkit-scrollbar-thumb:hover {
	background-color:#a0a0a5;
}
/*checkbox*/
#blend-checkbox label{
  position: relative;
  display: block;
  background-image: url("../images/coffee_list_08.png");
  background-size: cover;
  width: 131px;
  height: 177px;
  white-space: nowrap;
  user-select: none;
  transition: all .2s;
  cursor: pointer;
}

#blend-checkbox input[type="checkbox"]:checked + label {
  border: 2px solid #bccc74;
  background-color: #6f853a;
  color: #ffffff;
  transition: all .2s;
}

#blend-checkbox input[type="checkbox"] {
display: absolute;
}
#blend-checkbox input[type="checkbox"] {
opacity: 0;
}
#blend-checkbox input[type="checkbox"]:focus + label {
border: 2px solid #f0dc41;
}
#blend-checkbox input[type=checkbox]:disabled + label{
  background-color: #ffffff81;
  transition: 0.5s;
}
.roasting_content{
  padding-top: 250px;
}
.roastingPost{
  margin-top: 20px;
  margin-bottom: 50px;
}
.roastingPost span{
  display: block;
  color: #fff;
}
#roastingNum{
  font-size: 30px;
}
#roastingName{
  font-size: 20px;
}
#custome_result p{
  font-size: 20px;
}
#custome_result span{
  font-size: 20px;
}
.machine_content{
  padding-top: 200px;
}
canvas {
  z-index: 10;
  pointer-events: none;
  position: fixed;
  top: 0;
  transform: scale(1.1);
}
.moveTest {
  width: 50px;
  height: 50px;
  background-color: red;
  position: relative;
  animation-name: moveLeft;
  animation-duration: 2s;

}

@keyframes moveLeft {
  from {left: 0;}
  to {left: -200px;}
}