@charset "utf-8";

/*
*{list-style: none; padding: 0; margin: 0;}
body{padding: 50px;}
*/

.productDetail_view{
	margin: 0 auto;
	position: relative; 
	padding: 30px 0 50px 450px; 
	width: 1200px; 
	box-sizing: border-box;
}

/* 이미지 부분 */
.productDetail_view .img{
	position: absolute; 
	left: 0; 
	top: 0;
	padding-top: 30px;
} 
.productDetail_view .img > img {
	width: 400px; 
	height: 400px; 
	border: 1px solid #e8e8e8;
}
.productDetail_view .img li:after{
	content: ""; 
	display: block; 
	clear: both; 
}
.productDetail_view .img li{ 
	float: left; 
	padding: 10px 10px 0 0;
}
.productDetail_view .img li img{
	border: 1px solid #0a56a9;
}
.productDetail_view .img li img:hover{
	border: 1px solid #000;
}
.productDetail_view .img li img {
	width: 80px; 
	height: 80px;  
	border: 1px solid #e8e8e8;
}

/* 우측 상품 설명 부분 */
.productDetail_view h2{
	margin: 0 0 15px; 
	padding: 0 0 20px; 
	border-bottom: 2px solid #333; 
	font-size: 35px; 
	color: #232323; 
	line-height: 35px;
}
.productDetail_view table td, .productDetail_view table th{
	padding: 20px 0 20px 10px;
}
.productDetail_view table th{
	font-size: 20px; 
	color: #444; 
	text-align: left;
}
.productDetail_view table td{
	font-size: 20px; 
	color: #444; 
}
.productDetail_view table td.price, .productDetail_view table td.total b{
	font-size: 25px;
}

/* 수량 선택 버튼 */
.productDetail_view table .length{
	width: 150px; 
	height: 45px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 5px 7px rgba(0,0,0,0.05);
}
.productDetail_view table .length input[type="number"]{
	margin-left: 25px;
    -moz-appearance: textfield;
    text-align: center;
    font-size: 25px;
	line-height: 45px;
    border: none;
    background-color: #ffffff;
    color: #202030;
}
.productDetail_view table .length input::-webkit-outer-spin-button,
.productDetail_view table .length input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0 auto;
}
.productDetail_view table .length button{
    background-color: #fff;
    border: none;
    font-size: 25px;
    cursor: pointer;
}
.productDetail_view table .length #decrement{
	float: left;
	height: 45px;
    padding: 5px 0px 5px 15px;
    border-radius: 5px 0 0 5px;
	font-weight: bold;
}
.productDetail_view table .length #increment{
	float: right;
	height: 45px;
    padding: 5px 15px 5px 0px;
    border-radius: 0 5px 5px 0;
	font-weight: bold;
}


/* 버튼 부분 */
.productDetail_view .btns{
	padding: 30px 0 0; 
	text-align: center;
}
.productDetail_view .btns > a{
	display: inline-block; 
	width: 370px; 
	height: 70px; 
	border-radius: 35px; 
	font-size: 25px; 
	font-weight: bold;
	color: #fff;
	line-height: 70px;
	text-decoration-line: none;
}
.productDetail_view .btns > a.btn1{
	color: #ff555d;
	background: #fff;
	border: 2px solid #ff555d;
}
.productDetail_view .btns > a.btn1:hover{
	color: #fff;
	background: #ff555d;
}
.productDetail_view .btns > a.btn2{
	background: #083844;
}
.productDetail_view .btns > a.btn2:hover{
	background: #b83333;
}
